*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
a{
    text-decoration: none;
}
.wrapper{
    background: linear-gradient(20deg,#eaf4f5 0%,#0626f5 100%);
    min-height:100vh;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family:'raleway',sans-serif;
    color:#fff;
}
.wrapper h1{
    font-size:60px;
    font-weight:500;
    margin-top:30px;
    margin-bottom:20px;
    text-align:center;
}
.wrapper h5{
    font-size:20px;
    text-align:center;
    font-weight:300;
    margin-bottom: 80px;

}
.cards{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 1000px;
    margin:0 auto;
}
.card{
    width:380px;
    height:350px;
    border-radius:15px;
    margin:7px;
    padding:20px 30px;
    position:relative;
    background:rgba(255,255,255,0.2);
    box-shadow:10px 20px 25px rgba(0,0,0,0.2);
}
.card img{
    height:80px;
    width:70px;
    border:2px solid #f2f2f2;
    border-radius:50%;
    position:absolute;
    top:-50px;
    left:20px;
}
.card p{
    font-size:16px;
    margin-top:40px;
    margin-bottom:25px;
}
.card h2{
    font-weight:500;
    margin-bottom:4px;
}
.card h4{
    color:#333;
    font-weight:400;
    font-size:16px;
}
.cards:reviews{
    padding-block-end:20px ;

}
.reviews{
    color:#5c21e7;
    display: flex;
    flex-direction:row-reverse;
    align-items:center;
   
}
.cards .reviews:hover{
    color:#eaf4f5;
}
  .reviews span {
    margin-left: 0.5rem;
    
  }
.card:hover{
    transform:scale(1.4);
    color:#fdfafa;
    background: #043fee;
    z-index:10000;
    cursor: pointer;
}
button{
    margin:20px;
    display:flex;
    nav-right:40px;
    background-color:#5e68d3;
    border-radius:15px;
    border-color: #ebb6b6;
    height:40px;
    width:70px;
    text-align:center;
    box-shadow:10px 20px 25px rgba(0,0,0,0.2);
    cursor:pointer;
    transform:scale(1.4);
    z-index:10000;
}
button:hover{
    background-color:rgb(231, 245, 236);
    color:#5910d7;
}
/***** responsive design***/
@media(max-width:768px) {
    .cards{
        width:100px;
        flex-direction:column;
        flex-wrap:wrap;
    }
    .card{
        margin:40px 0;

    }
}